<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class= "nav-item nav-link" routerLink="/promise" routerLinkActive="active-link">Promise</a>
      <a class= "nav-item nav-link" routerLink="/observable" routerLinkActive="active-link">Observable</a>
      <a class= "nav-item nav-link" routerLink="/forkjoin" routerLinkActive="active-link">Fork Join</a>
      <a class= "nav-item nav-link" routerLink="/async&Await" routerLinkActive="active-link">Async & Await</a>
      <a class= "nav-item nav-link" routerLink="/map" routerLinkActive="active-link">Map</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>